<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/contatenos.css">
    <title>Domux Luxe</title>
</head>
<body>
    
    <div class="container">
                
        <div class="menu">

            <div class="logo">
                <img src="/views/assets/logo.svg" alt="">
            </div><!--logo-->

            <div class="nave_bar">
                <a href="index.html">Home</a>
                <a href="quem_somos.html">Quem Somos</a>
                <a href="objetivo.html">Objetivo</a>
                <a href="missao.html">Missão</a>
                <a href="equipe.html">Equipe</a>
                <a href="contatenos.html">Contate-nos</a>
            </div>
            
        </div><!--menu-->

        <div class="content_contatenos">

            <div class="img_contatenos">
                <img src="/views/assets/banner_quem_somos.svg" alt="">
            </div><!--img-contatenos-->

            <div class="form">
                <form action="#">
                    <label for="">Nome:</label>
                        <input type="text">
                    <label for="#">Telefone:</label>
                        <input type="phone">
                    <label for="#">E-mail:</label>
                        <input type="email">
                    <label for="">Endereço:</label>
                        <input type="text">
                    
                </form>
                <div class="button">
                    <button>Enviar</button>
                </div>
                 
            </div>
                    
        </div><!--content contatenos-->
                
    
        </div><!--container-->








</body>
</html>