<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domux Luxe</title>
    <link rel="stylesheet" href="/views/css/equipe.css">
    <script src="/views/script/app.js" defer></script>
</head>

<body>


    <div class="container">

        <div class="menu">

            <div class="logo">
                <img src="/views/assets/logo.svg" alt="">
            </div><!--logo-->

            <div class="nave_bar">
                <a href="index.html">Home</a>
                <a href="quem_somos.html">Quem Somos</a>
                <a href="objetivo.html">Objetivo</a>
                <a href="missao.html">Missão</a>
                <a href="equipe.html">Equipe</a>
                <a href="contatenos.html">Contate-nos</a>
            </div>


        </div><!--menu-->

        <h1 class="equipe">Equipe</h1><!--TÍTULO!-->

        <header>
            <main>

                <ul class="perfis">
                    <li class="perfil">

                        <div class="nome">Gabriel Martins</div>
                        <div class="texto">Gabriel, estudante de análise e desenvolvimento de sistemas na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/gabriel.jpg">
                        </div>

                    </li>

                    <li class="perfil">


                        <div class="nome">Luiz Gustavo</div>
                        <div class="texto">Luiz, estudante de análise e desenvolvimento de sistemas na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/luiz.jpg">
                        </div>




                    </li>

                    <li class="perfil">


                        <div class="nome">Endrew</div>
                        <div class="texto">Endrew, estudante de análise e desenvolvimento de sistemas na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/endrew.jpg">
                        </div>

                    </li>

                    <li class="perfil">



                        <div class="nome">Renan</div>
                        <div class="texto">Renan, estudante de análise e desenvolvimento de sistemas na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/renan.jpg">
                        </div>


                    </li>

                    <li class="perfil">



                        <div class="nome">Raphael</div>
                        <div class="texto">Raphael, estudante de análise e desenvolvimento de sistemas na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/raphael.jpg">
                        </div>


                    <li class="perfil">



                        <div class="nome">Alessandra</div>
                        <div class="texto">Andressa, estudante de Design na Wyden.</div>

                        <div class="imagem">
                            <img src="assets/img/raphael.jpg">
                        </div>

                </ul>
            </main>
        </header>


    </div><!--container-->


</body>

</html>