<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domux Luxe</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script src="/views/script/app.js" defer></script>
</head>
<body>
    
        
            <div class="container">
                
                <div class="menu">

                    <div class="logo">
                        <img src="/views/assets/logo.svg" alt="">
                    </div><!--logo-->

                    <div class="nave_bar">
                        <a href="index.html">Home</a>
                        <a href="quem_somos.html">Quem Somos</a>
                        <a href="objetivo.html">Objetivo</a>
                        <a href="missao.html">Missão</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="contatenos.html">Contate-nos</a>
                    </div><!--nav_bar-->
                    
                </div><!--menu-->
                    <div class="alling_container">
                        <div class="container_banner">

                            <div class="img_banner" id="img">
                                <img src="/views/assets/banner_pag_principal.svg" alt="">
                                <img src="/views/assets/carrosel_1.svg" alt="">
                                <img src="/views/assets/carrosel_3.svg" alt="">
                                
                            </div><!--img_banner-->
    
                        </div><!--container Banner-->
                    </div>
                    

                    <div class="container_gallery">
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Houston Rollery</h1>
                                <p>VALOR:$1,000,000,00</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Castano</h1>
                                <p>VALOR:$9.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Obama Rindo</h1>
                                <p>VALOR:$1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        
                    </div><!--container_gallery-->

                    <div class="container_gallery">
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Blumear</h1>
                                <p>VALOR:R$3,000,000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Orleans Home</h1>
                                <p>VALOR:R$1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>Lion Gate</h1>
                                <p>VALOR:$5.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        
                    </div><!--container_gallery-->

                </div><!--container-->


</body>
</html>