<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domux Luxe</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script src="/views/script/app.js" defer></script>
</head>
<body>
    
        
            <div class="container">
                
                <div class="menu">

                    <div class="logo">
                        <img src="/views/assets/logo.svg" alt="">
                    </div><!--logo-->

                    <div class="nave_bar">
                        <a href="index.html">Home</a>
                        <a href="quem_somos.html">Quem Somos</a>
                        <a href="objetivo.html">Objetivo</a>
                        <a href="missao.html">Missão</a>
                        <a href="equipe.html">Equipe</a>
                        <a href="contatenos.html">Contate-nos</a>
                    </div><!--nav_bar-->
                    
                </div><!--menu-->

                    <div class="container_banner">

                        <div class="img_banner">
                            <img src="/views/assets/banner_pag_principal.svg" alt="">
                            <h1>aqui vai ser um carrosel</h1>
                        </div><!--img_banner-->

                    </div><!--container Banner-->

                    <div class="container_gallery">
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        
                    </div><!--container_gallery-->

                    <div class="container_gallery">
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        <div class="gallery">

                            <img src="/views/assets/gallery_img_1.svg" alt="">
                            <div class="content_gallery">
                                <h1>TITULO ( NOME DA CASA )</h1>
                                <p>VALOR:1.00.000.000</p>
                                <p>ENDEREÇO</p>
                                <p>DESCRIÇÃO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Vivamus pulvinar mattis finibus.</br>
                                Donec tincidunt, dui in euismod faucibus,felis velit efficitur lectus, nec</p>
                            </div>
                        </div><!--gallery-->
                        
                    </div><!--container_gallery-->

                </div><!--container-->


</body>
</html>