<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/missao.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
                
                <div class="menu">

                    <div class="logo">
                        <img src="/views/assets/logo.svg" alt="">
                    </div><!--logo-->

                    <div class="nave_bar">
                        <a href="index.html">Home</a>
                        <a href="">Quem Somos</a>
                        <a href="objetivo.html">Objetivo</a>
                        <a href="missao.html">Missão</a>
                        <a href="">Equipe</a>
                        <a href="">Contate-nos</a>
                    </div>
                    
                </div><!--menu-->

                <div class="container1">
                    <img class="img" src="/views/assets/Domus Luxe (2) 2.svg" alt="">
            
                    <header class="missao">
                        <h1>Missão</h1>
                        <br>
                        <p class="paragrafo">Facilitar a realização dos sonhos de propriedade dos nossos clientes, oferecendo serviços de corretagem imobiliária de alta qualidade, com ética e transparência, conectando compradores e vendedores de imóveis de forma eficaz e satisfatória.
                        </p>
                    </header>
    
                </div>
                  
                
                   
                

                </div><!--container-->
</body>
</html>