<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/objetivo.css">
    <title>Domux Luxe</title>
</head>
<body>
    
    <div class="container">
                
        <div class="menu">

            <div class="logo">
                <img src="/views/assets/logo.svg" alt="">
            </div><!--logo-->

            <div class="nave_bar">
                <a href="index.html">Home</a>
                <a href="">Quem Somos</a>
                <a href="">Objetivo</a>
                <a href="">Missão</a>
                <a href="equipe.html">Equipe</a>
                <a href="">Contate-nos</a>
            </div><!--nav_bar-->
            
        </div><!--menu-->


            <div class="objetivo_container">


                <div class="content">
                    <div class="tittle_content_objetivo">
                        <h1>Objetivo</h1>
                    </div>
                    <p>Ser a imobiliária de referência no mercado de luxo, redefinindo padrões de excelência em serviços imobiliários. 
                        Nossa visão é ser a escolha principal para compradores e vendedores, transformando sonhos imobiliários em realidade, 
                        impulsionados pela inovação, 
                        ética e responsabilidade social, tornando-nos um símbolo de confiança, qualidade e impacto positivo.</p>

                </div><!--content-->

                <div class="image_objetivo">

                    <img src="/views/assets/objetivo_image.svg" alt="">

                </div><!--image_objetivo-->
                
            </div><!--objetivo container-->

        </div><!--container-->    




</body>
</html>