<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/quem_somos.css">
    <title>Domux Luxe</title>
</head>
<body>

    <div class="container">
                
        <div class="menu">

            <div class="logo">
                <img src="/views/assets/logo.svg" alt="">
            </div><!--logo-->

            <div class="nave_bar">
                <a href="index.html">Home</a>
                <a href="quem_somos.html">Quem Somos</a>
                <a href="objetivo.html">Objetivo</a>
                <a href="missao.html">Missão</a>
                <a href="equipe.html">Equipe</a>
                <a href="contatenos.html">Contate-nos</a>
            </div>
            
        </div><!--menu-->

            <div class="container_quem_somos">
                <div class="content_quem_somos">
                    <h1>Quem somos ?</h1>
                    <p>A Domux Luxe é uma empresa de mobiliário de luxo que se destaca no mercado de design de interiores. Nosso objetivo é proporcionar aos clientes experiências únicas de elegância e sofisticação em suas casas. A razão de nossa existência é criar ambientes que contem histórias, onde cada móvel e detalhe são meticulosamente projetados para refletir a beleza atemporal e o requinte. Buscamos transcender a mera funcionalidade, oferecendo um estilo de vida personalizado e distinto para aqueles que buscam a combinação perfeita de luxo e personalidade. A Domux Luxe é mais do que uma marca de mobiliário de luxo; somos criadores de sonhos, comprometidos com a excelência, qualidade e atendimento ao cliente excepcionais.</p>
                </div>

                <div class="img_quem_somos">
                    <img src="/views/assets/banner_quem_somos.svg" alt="">
                </div>
                

            </div><!--container quem somos-->
          
    
        </div><!--container-->





</body>
</html>