@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GFS Didot', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'League Spartan', sans-serif;
}
body{
    background-color: #006174;
    margin: 0 20px;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.nave_bar{
    background-color: #F3F1F1;
    width: 588px;
    height: 31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nave_bar a{
    text-decoration: none;
    color: #006174;
    font-family: 'GFS Didot';
    margin: 0 4px;
}   
.menu img{
    width: 156px;
    height: 156px;
    
}
.nave_bar a:hover{
    text-decoration: none;
    border-bottom: 2px solid  #DCA34B;
    
}
.content_contatenos{
    display: flex;
}
.form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.form form{
   
    
}
.form label{
    font-size: 24px;
    color: #006174;
    font-family: 'GFS Didot', serif;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
}
.form input{
    border: none;
    border-radius: 10px;
    background-color: #F3F1F1;
    width: 508px;
    height: 52px;
}
.form button{
    width: 174px;
    height: 62px;

}
.button{
    background-color: red;
    display: flex;
    justify-content: center;
    
}